server:
  port: 8081

spring:
  application:
    name: metrics-ingestion-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.cloudwatchr: INFO
    org.springframework: INFO