server:
  port: 8083

spring:
  application:
    name: alerting-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.cloudwatchr.alerting: INFO
    org.springframework: INFO